<md-progress-circular style="position: absolute; top: 0;left: 0;right: 0;bottom: 0;margin: auto;" ng-disabled="vm.existePerfil" class="md-warn md-hue-3" md-diameter="70"></md-progress-circular>
<div ng-if="vm.existePerfil" layout="column" style="height:100vh;" ng-cloak>

    <section layout="row" flex>

        <md-sidenav
                class="md-sidenav-left"
                md-component-id="left"
                md-is-locked-open="$mdMedia('gt-md')"
                md-whiteframe="4">

            <md-toolbar class="md-theme-indigo" style="background-color: transparent;">
                <img style="background-image:url({{vm.perfil.avatar}});" alt="" class="avatar pointer">
            </md-toolbar>
            <md-content style="margin-top: 60px;">
                <md-list flex>
                    <md-list-item class="md-2-line" ng-click="vm.agregarAlbum($event)">
                        <md-icon style="font-size: 37px;" class="md-avatar" md-font-set="material-icons">add_circle</md-icon>
                        <div class="md-list-item-text" layout="column">
                            <h3></h3>
                            <h4>Agregar albúm</h4>
                            <p></p>
                        </div>
                    </md-list-item>
                    <md-list-item class="md-2-line" ui-sref="dashboardHome.misAlbumes">
                        <md-icon style="font-size: 37px;" class="md-avatar" md-font-set="material-icons">photo_album</md-icon>
                        <div class="md-list-item-text" layout="column">
                            <h3></h3>
                            <h4>Ver mis albumes</h4>
                            <p></p>
                        </div>
                    </md-list-item>
                    <md-list-item class="md-2-line" ui-sref="dashboardHome.albumesPublicos">
                        <md-icon style="font-size: 37px;" class="md-avatar" md-font-set="material-icons">public</md-icon>
                        <div class="md-list-item-text" layout="column">
                            <h3></h3>
                            <h4>Ver albumes públicos</h4>
                            <p></p>
                        </div>
                    </md-list-item>
                    <md-list-item class="md-2-line" ng-click="vm.cerrarSesion()">
                        <md-icon style="font-size: 37px;" class="md-avatar" md-font-set="material-icons">clear</md-icon>
                        <div class="md-list-item-text" layout="column">
                            <h3></h3>
                            <h4>Cerrar sesión</h4>
                            <p></p>
                        </div>
                    </md-list-item>
                </md-list>
            </md-content>

        </md-sidenav>

        <md-content flex>
           <ui-view></ui-view>
        </md-content>
    </section>

</div>